<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'countdown/style/style.css' %}">
        {% for css in css %}
        	<link rel="stylesheet" type="text/css" href="{% static css %}">
        {% empty %}

        {% endfor %}

    </head>
    <body>
        <header>
            <h1>Count to event</h1>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </header>
        <main>
            {% include main %}
        </main>
        <footer>
            &copy; 2023 <a href="https://github.com/TomaszCaba">Tomasz Caba</a>
        </footer>
    </body>
</html>